<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="../template/css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="home"><a class="home" href="#">Home</a></div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item"><a class="nav__list-link" href="">Add a post</a></li>
                    <li class="nav__list-item"><a class="nav__list-link" href="/articles/">View list</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section class="main">
    <div class="container">
        <div class="error__inner">
            <div class="error">
                not found!
            </div>
            <img src="/template/img/404-page-error.png"  width="450" alt="">
        </div>
        <a class="more__link" href="/articles/">Înapoi</a>
    </div>
</section>
</body>
</html>